body {
  color: var(--color-text);
  font-family: var(--font-serif);
  font-weight: 400;
}

.section-heading {
  font-family: var(--font-display);
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  text-transform: uppercase;
}
